
header{
    
    max-width: 1440px;
    min-height: 102px;
    padding: 20 0;
}

nav{
    display: flex;
    margin-inline: auto;
    max-width: 1160px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    max-width: 202px;
    min-height: 62px;
    display: flex;
    gap: 18px;
}
nav ul{
    max-width: 387px;
    min-height: 30px;
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.c1{
    color: orange;
}
.c2{
    color: skyblue;
}
.c3{
    color: #05D4DF;
}
.c4{
    color: #5D58EF;
}
.btn-1{
    max-width: 197px;
    min-height: 50px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}

.icon{
    display: none;
}

hr{
    display: none;
}

main .banner{
    display: flex;
    max-width: 1159px;
    min-height: 575px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.banner .content{
    justify-content: center;
    align-items: center;
    max-width:  640px;
    min-height: 331px;
    gap: 24px;
}
.content h2{
    font-weight: bold;
    font-size: 56px;
    line-height: 61px;
}

.img{
    width: 469px;
    height: 575px;
}
.bt{
    background-color: black;
}

.banner p{
    font-size: 20px;
}



@media screen and (max-width:576px){
    nav, header, main .banner, .banner .content, .banner .img {
        width: calc(100%-40px);

    }
    .banner{
        flex-direction: column-reverse;
    }
    nav{
        justify-content: space-between;
    }
    .icon{
        display: block;
        font-size: 20px;
    }
    
    hr{
        display: block;
    }
    
    nav h2 , nav ul, .btn-1 {
        display: none;
    }
}
    


