
header{
    
    max-width: 1440px;
    min-height: 102px;
    padding: 20px 0;
}

nav{
    display: flex;
    margin-inline: auto;
    max-width: 1160px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div{
    max-width: 202px;
    min-height: 62px;
    display: flex;
    gap: 18px;
}
nav ul{
    max-width: 387px;
    min-height: 30px;
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.c1{
    color: orange;
}
.c2{
    color: skyblue;
}
.c3{
    color: #05D4DF;
}
.c4{
    color: #5D58EF;
}
.btn-1{
    max-width: 197px;
    min-height: 50px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
}

.icon{
    display: none;
}

hr{
    display: none;
}

main .banner{
    display: flex;
    max-width: 1159px;
    min-height: 575px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.banner .content{
    justify-content: center;
    align-items: center;
    max-width:  640px;
    min-height: 331px;
    gap: 24px;
}
.content h2{
    font-weight: bold;
    font-size: 56px;
    line-height: 61px;
}

.img{
    max-width:  469px;
    min-height: 575px;
}
.bt{
    background-color: black;
}

.banner p{
    font-size: 20px;
}

.cards{
    
   text-align: center;
    margin-inline: auto;
    max-width: 1440px;
    min-height: 879px;
    padding: 60px 0;
    justify-content: center;
    align-items: center;
}

.cards h5{
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
}
.cards p, .card a{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
}
.cardss{
    margin-inline: auto;
    display: flex;
    gap: 24px;
    max-width: 1160px;
    min-height: 482px;
    justify-content: center;
    align-items: center;
}
.card a{
    text-decoration: none;
    max-width:103px;
    min-height: 28px;
    font-weight: bold;

}
.card img{
    max-width: 137px;
    min-height: 137px;
}
.c5{
    color: #8700FF;
}

.cl1{
    background: linear-gradient(#DEF5FF,white);
}
.cl2{
    background: linear-gradient(#FFF4DC,white);
}
.cl3{
    background: linear-gradient(#F2E8FF,white);
}
.card{
    min-height: 477px;
    max-width: 368px;
    border: #D5D6D8 solid 1px;
    padding-top: 25px;
    border-radius:19px ;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center;
}

h3{
    font-weight: bold;
    font-size: 46px;
    line-height: 57px;
}
.bn{
    border-radius: 30px;
    max-width:  60px;
    min-height:  60px;
}
 .fa-solid{
    
    font-size: 30px;
}

.fa{margin-top: 80px;
    max-width: 130px;
    min-height: 60px;
}

.stories{
    max-width: 1440px;
    min-height: 1118px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    background: linear-gradient(white,#FFF4DC);
    padding: 60px 0;
   
}

.stories h5{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
}

.box1, .box2, .box3, .box4, .box5{
    border: #D5D6D8 solid 1px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}
.box1{
   
   max-width: 540px;
    min-height: 630px;
    grid-area: box1;
}
.box2{
    max-width: 291px;
    min-height: 301px;
    grid-area: box2;
}
.box3{
    max-width: 291px;
    min-height: 301px;
    grid-area: box3;
}
.box4{
    max-width: 291px;
    min-height: 301px;
    grid-area: box4;
}
.box5{
    max-width: 291px;
    min-height: 301px;
    grid-area: box5;
}
.grid img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.grid{
    margin-inline: auto;
    max-width: 1160px;
    min-height: 631px;
    display: grid;
    gap: 19px;
    grid-template-areas: 
    "box1 box1 box2 box3" 
    "box1 box1 box4 box5" ;
    
}

.grid h5{
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}
.grid h6{
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
}
.grid p{
    font-size: 15px;
    font-weight: 500;
}
.btn{
  max-width:  174px;
  min-height: 40px;
  border-radius: 48px;
  position: relative;
  top: -27px;
  border: transparent;

}

.c11{
    background-color: #3CD8E8;
}
.c12{
    background-color: #95B226;
}
.c13{
    background-color: #5D58F0;
}

footer{
    
    max-width: 1439px;
    min-height: 519px;
    background-color: #01ACFD;
    margin-inline: auto;
}

.fcon{
    display: flex;
    max-width: 1070px;
    min-height: 222px;
    gap: 40px;
    justify-content: space-around;
    margin-inline: auto;
    margin-block: auto;
}

.f1{
    color: white;
    max-width: 400px;
}

.logo{
    display: flex;
    max-width: 300px;
    min-height: 82px;
    gap: 11px;
}

.logo h4{
    font-weight: bold;
    font-size: 42px;
}
.f1 p{
    max-width: 400px;
    font-size: 20px;
    color: white;
}

.f2{
    text-align: left;
    justify-content: left;
}

.f2 h4, .f3 h4{
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.f2 ul{
   position: relative;
   left: -35px;
}

.f2 ul li{
    list-style: none;
}

.f2 ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: white;
}

marquee{
    margin-top: 50px;
    behavior: inherit;
    direction: ltr;
    color: #FD6E0A;
    font-size: 30px;
    font-weight: bold;
}



@media screen and (max-width:576px){
    
    nav, header, main .banner, .banner .content, .banner .img, .cards, .cardss, .card, .grid,  footer, .f1, .f2, .f3, .fcon {
        width: calc(100%-20px);

    }
    .box3, .box2, .box4, .box5{
        width: calc(50%-10px);
    }

    .content, .banner{
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .banner{
        flex-direction: column-reverse;
    }
    nav{
        justify-content: space-between;
    }
    .icon{
        display: block;
        font-size: 20px;
    }
    
    hr{
        display: block;
    }
    
    nav h2 , nav ul, .btn-1 {
        display: none;
    }
    .bt{
        display: block;
    }
    .cardss,  footer, .f1, .f2, .f3, .fcon{
        flex-direction: column;
    }

    .bn{
        display: none;
    }

    .grid{
        
        grid-template-areas: 
        " box2 box3" 
        " box4 box5"
        " box2 box3" ;
        
    }
    .grid img{
        width: 100%;
    }
    .box1{
        display: none;
    }
    .bt{
        margin: auto;
    }
}
    


